/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




body {
    background: rgb(13, 33, 56);

    >section {
        margin: 125px 0 0 100px;
        width: fit-content;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: flex;
        flex-direction: column;

        >h1 {
            color: whitesmoke;
            font-size: 50px;
            font-weight: bold;
            max-width: 515px;

            >span {
                color: rgb(74, 223, 134);
            }
        }
        >p {
            margin: 20px 0 50px;
            font-size: 25px;
            color: rgb(196, 196, 196);
        }
        >button {
            width: 300px;
            height: 50px;
            font-size: 25px;
            background: rgb(74, 223, 134);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: whitesmoke;
            padding: 8px 16px;
            border: none;
            border-radius: 8px;
            box-sizing: content-box;
            transition: 
                transform 0.1s,
                background 0.1s;
        }
        >button:active {
            transform: scale(0.95);
        }
        >button:hover {
            background: rgb(53, 175, 102);
        }
        
        >hr {
            margin: 50px 0;
            width: 100%;
            border-color: rgb(42, 48, 54);
        }

        >div {
            display: flex;
            gap: 30px;
            flex-wrap: wrap;

            >input {
                width: 350px;
                height: 50px;
                padding: 8px 16px;
                box-sizing: content-box;
                text-align: center;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 25px;
                background: rgb(31, 59, 90);
                color: lightgreen;
                border: none;
                border-radius: 6px;
            }
        }
    }
}